.completed {
  text-decoration: line-through solid black;
}

h1 {

  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
  height: auto;
  padding: 40px 0;
  color:white;
  font-size:20px;
}

body {
 background-color: #01293a;
}
